.carousel-item1,
.carousel-item2,
.carousel-item3 {
  background-size: cover;
  background-position: center;
}

.carousel-item1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://img.cdn4dd.com/cdn-cgi/image/fit=contain,width=1200,height=672,format=auto/https://doordash-static.s3.amazonaws.com/media/store/header/e47684ae-1046-48ce-b96c-182d0c79262e.png");
}

.carousel-item2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://s3-media0.fl.yelpcdn.com/bphoto/cU5fUk2HM2Khug0dpxbxAw/o.jpg");
}

.carousel-item3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://s3-media0.fl.yelpcdn.com/bphoto/hseX-fhfnC7xbI6JcmAZZw/o.jpg");
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-indicators {
  display: none;
}

@media only screen and (max-width: 768px) {
  .carousel-item1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
    url("https://img.cdn4dd.com/cdn-cgi/image/fit=contain,width=1200,height=672,format=auto/https://doordash-static.s3.amazonaws.com/media/store/header/e47684ae-1046-48ce-b96c-182d0c79262e.png");
  }

  .carousel-item2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
    url("https://s3-media0.fl.yelpcdn.com/bphoto/cU5fUk2HM2Khug0dpxbxAw/o.jpg");
  }

  .carousel-item3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
    url("https://s3-media0.fl.yelpcdn.com/bphoto/hseX-fhfnC7xbI6JcmAZZw/o.jpg");
  }
}
